__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
yolo_env/

runs/*/
!runs/detect/
!runs/detect/ball_detector/
runs/detect/ball_detector/*
!runs/detect/ball_detector/weights/
runs/detect/ball_detector/weights/*
!runs/detect/ball_detector/weights/best.pt
!runs/detect/ball_detector/weights/best.onnx

*.log
*.zip
*.cache
